<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1><a href="/">亡者农药</a> <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <form id="form" action="/add" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">英雄名称</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="请输入英雄名称">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">英雄性别</label>
                <div class="radio">
                    <label>
            <input type="radio" name="gender" id="optionsRadios1" value="男" checked>男
          </label>
                    <label>
            <input type="radio" name="gender" id="optionsRadios1" value="女" checked>女
          </label>
                </div>
            </div>
            <div class="form-group">
                <label for="imgFile">英雄图片</label>
                <input type="file" id="imgFile">
                <!--路径保存到什么中比较合适-->
                <input type="hidden" name="avatar" value="" id="hiddenAvatar">
                <img src="" style="display:none;" id="preview_img">
                <p class="help-block">请上传英雄图片.</p>
            </div>
            <button type="submit" class="btn btn-success">点击保存</button>
        </form>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $(function() {
            $('#imgFile').on('change', function(e) {

                // console.log(e.target.files.length)
                if (e.target.files.length != 1) {
                    return;
                }
                var formData = new FormData();
                formData.append("avatar", e.target.files[0])
                $.ajax({
                    url: "/ajaxPostFile",
                    data: formData,
                    type: 'post',
                    processData: false,
                    contentType: false,
                    success: function(result) {
                        console.log(result)
                    }
                })

            })
        });
    </script>
</body>

</html>