<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>亡者农药 <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <a class="btn btn-success pull-right" href="/add">添加英雄</a>
        <table class="table table-hover">
            <thead>
                <th>编号</th>
                <th>名称</th>
                <th>性别</th>
                <th>头像</th>
                <th>操作</th>
            </thead>
            <tbody>

                {{each list}}
                <tr>
                    <td>{{$value.id}}</td>
                    <td>{{$value.name}}</td>
                    <td>{{$value.gender}}</td>
                    <td><img src="{{$value.avatar}}" alt=""></td>
                    <td>
                        <a href="/info?id={{$value.id}}">查看</a>
                        <a href="/edit?id={{$value.id}}">编辑</a>
                        <a class="del" href="/del?id={{$value.id}}">删除</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>

    <script>
        $(function() {
            $('.del').on('click', function(e) {
                e.preventDefault()
                var url = $(this).attr('href');
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: 'json',
                    success: function(result) {
                        console.log(result);
                        if (result.err_code == 0) {
                            location.href = '/'
                        }
                    }

                })
            })
        })
    </script>
</body>

</html>