<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">黑马博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if(isLogin){  %>
            
                <div class="navbar-form navbar-right">
                    <div class="form-group">
                        <a href='/' class="form-control btn-primary">欢迎 <strong>泥巴把</strong></a>
                        <a href='/' class="form-control btn-success ">注销</a>
                                  
                    </div>

                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发起 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">文章</a></li>
                            <li><a href="#">链接</a></li>

                        </ul>
                    </li>
                </ul>
            <% } else{ %>
                  <div class="navbar-form navbar-right">
                    <div class="form-group">
                        <a href='/login' class="form-control btn-primary">登录</a>
                        <a href='/register' class="form-control btn-success ">注册</a>
                    </div>
                 
                </div>


                    <% } %>   
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <h1>首页</h1>
    </div>
    <div class="footer" style="text-align:center">
        <span>
            传智博客@黑马程序员
        </span>
    </div>
</body>

</html>